{% extends '../wegame/base.html' %}
{% load staticfiles %}
{%block head_block%}
<link rel="stylesheet" href="/static/css/account.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
{%endblock%}
{% block body_block %}
<div class="styled-form">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="create_account">Log in to WeGame</button>
        <p class="second-option"><a href="/accounts/signup/">Create a free WeGame account</a></p>
    </form>
</div>
<script>
    var placeHolders = document.getElementsByTagName("label");
    for (i = 0; i < placeHolders.length; i++) {
            placeHolders[i].style.display = 'none';
            var input = placeHolders[i].nextElementSibling;
            var text = placeHolders[i].innerHTML
            console.log(text);
            input["placeholder"] = text;
    }
</script>
{% endblock %}