<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/css/account.css">
        <title>WeGame Sign Up</title>
    </head>

    <body>
        <div class = "frame">
        <div class ="infor_container">
            <h1>Sign Up</h1>
            <div class = "socialAPP">
                <form class = "socialAPI" method = "POST">
                        <button id = "facebook">
                            <span class = "icon_fb">Facebook</span>
                        </button> 
                </form>
                <form class = "socialAPI" method = "POST">
                        <button id = "google">
                                <span class = "icon_google">Google</span>
                        </button> 
                </form>
            </div>
            <p>Start your adventures with a WeGame Account!</p>
        </div>



        <div class = "form_container">
            <form id = "registerForm" method = "POST" action = "#">
                    <div class="form-group">
                        <fieldset class = name_fieldset>
                            <div class = name_div>
                                <input type="text" placeholder="First Name" class ="name_input"/>
                            </div>
                            <div class = name_div>
                                <input type="text" placeholder="Last Name" class ="name_input"/>
                            </div>          
                            <div class = birthday>
                                    <select name="dobMonth" id="dobMonth" class="select-box" data-input-order="1" data-original-id="dobMonth" data-select-id="select-box-dobMonth">
                                            <option value="" selected="selected" data-placeholder="placeholder">Birth Day</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                    </select>
                                <!-- <input type="text" placeholder="Birth Day" class ="name_input"/> -->
                            </div>
                            <div class = birthday>
                                    <select name="dobMonth" id="dobMonth" class="select-box" data-input-order="1" data-original-id="dobMonth" data-select-id="select-box-dobMonth">
                                            <option value="" selected="selected" data-placeholder="placeholder">Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                    </select>
                            </div>
                            <div class = birthday>
                                <input type="text" placeholder="Year/XXXX" class ="name_input"/>
                            </div>

                        </fieldset> 

                        <fieldset class = name_fieldset>
                            <div class = normal_form>
                                <input type="text" placeholder="E-mail Address" class ="E-mail_input"/>
                            </div>
                        </fieldset> 

                        <fieldset class = name_fieldset>
                                <div class = normal_form>
                                        <input type="text" placeholder="Password" class ="E-mail_input"/>
                                    </div>
                        </fieldset> 
                        <fieldset class = name_fieldset>
                                <div class = normal_form>
                                        <input type="text" placeholder="Confirm Password" class ="E-mail_input"/>
                                    </div>
                        </fieldset>
                        <fieldset class = name_fieldset>
                            <div class="control-group">
                                <div class="grid-100 row-checkbox">
                                    <label class="checkbox-label">
                                        <input id="agreedToPrivacyPolicy" name="agreedToPrivacyPolicy" type="checkbox" data-input-order="">
                                            I have reviewed and understand the 
                                            <a href="http://eu.blizzard.com/en-gb/company/about/privacy.html" rel="external" target="_blank">
                                                Privacy Policy
                                                <i class="icon-external-link"></i>
                                            </a>.
                                            <br>
                                            <em>
                                                For more information about how we use information and your rights to object, see our privacy policy.
                                            </em>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="submission">
                        <button id = "create_account">
                            <span class = "button_text">Create an account</span>
                        </button>
                        <button id = "create_account" class = "sign_in">
                                <span class = "button_text">Already have an account?</span>
                        </button>
                    </div>             
            </form>
        </div>
        
        </div>
        
    </body> 
    
</html>