html{
    /* background: url(/static/main-background.jpg) no-repeat center fixed;  */
    background-size: cover;
    background-color: #EEECE0;
}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
h2{
    font-family: cursive,fantasy;
    color: #7F0709;
    /* text-decoration-color: #2f597d; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(130, 55, 8, 0.5);
    padding-bottom: 20px;
    padding-top: 10px;
}

/********************* header *****************************/
/********************* header *****************************/

/* The side navigation menu */
.sidenav {
  height: 100% !important; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #eeece0f2; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.Categories{
  padding: 8px 8px 0px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #6f4b31;
  display: block;
  transition: 0.3s;
}
.side-content{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.Categories:hover {
  color: #b90707;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #341908;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.logo{
  display: inline-block;
  vertical-align: top;
  height: 60px;
  width: 100px;
  content: "";
  background: url(/static/we-logo.png) no-repeat;
  background-size: contain;
}

.nav-bar-container{
    z-index: 5;
    position: fixed;
    transition: top 0.3s;
    background-color:rgba(8, 8, 8, 0.2);
    top: 0;
    left: 0;
    right: 0;
    overflow: visible;
    height: 60px;
    padding: 0 30px;
    white-space: nowrap;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    
}

.nav-bar-items{
    width: 340px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
}
.nav-bar-label{
    display: inline-block;
    line-height: 60px;
    height: 60px;
}
.nav-bar-label:hover {
    color: rgb(230, 223, 223);
}

/* the links */
.nav-bar-item{
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255,1);
    font-family: cursive;
    text-decoration: none;
}

.nav-bar-account{
    margin-left: 400px;
    width: 180px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-background {
    background-color: rgba(33, 30, 30, 0.5);
    width: 120px;
                                }
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:rgba(33, 30, 30, 0.5);}



/*********************************** page **************************/
/*********************************** page **************************/

* {box-sizing:border-box}
.slide-show-container {
    /* margin: 50px auto; */
    position: relative;
    width: 100%;
    height:600px;
    /* padding: 10px; */
    box-shadow: 1px 11px 10px 1px rgba(0,0,0,0.4);
    overflow-y: hidden;
  }
.mySlides{ 
    display: none;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 60px;
    margin: 0 2px;
    background-color: rgba(10, 10, 10, 0.7);
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }  


  .dot-container{
    text-align: center;
    /*use absolute to put the dot on slides. Rememer the overflow-y is hidden on slide-container !!*/
    position: absolute; 
    left: 43%;
    top: 95%;
  }


/******* footer ********/
/******* footer ********/

.bottom{
  height: 300px;
  margin-top: 100px;
  padding-left: 150px;
  background-color: #82543A;
}
.logo-bottom{
  display: inline-block;
  vertical-align: bottom;
  height: 100px;
  width: 100px;
  left: 10%;
  content: "";
  background: url(/static/we-logo.png) no-repeat;
  background-size: contain;
  position: relative;
  bottom: -120px;
}
.bottom-bar-item{
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255,1);
  font-family: cursive;
  text-decoration: none;
  bottom: 150px;
}
.bottom-bar-items{
  width: 700px;
    height: 60px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: -120px;
    left: 15%;
}
.bottom-bar-label{
  display: inline-block;
  line-height: 90px;
  height: 60px;
  color: #EEECE0;
}
.test{
  color: rgba(238, 236, 224, 0.5);
    text-align: justify;
    position: relative;
    left: 20px;
    bottom: 150px;
    display: inline;
    font-size: 12px;
}
.bottom-bar-label:hover{
  color: #e66262;
}

