
/* display 5 cards each row */
.story-card{
    width: 18.5%;
    box-sizing: border-box;
    margin:10px;
    /* background: url(/static/registration.jpg); */
    height: 100%;
    height: 400px;
    background-size: 710px auto!important;
    background-position: 50% 0!important;
    background-repeat: no-repeat!important;
    box-shadow: 5px 8px 10px 1px rgba(111, 75, 49, 0.8);
    cursor: pointer;
}

/* display 5 cards each row */
.story-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
}
.over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
  }
.story-card:hover .over{
    opacity: 0.5;
  }

.top-stories-container{
    padding-left: 40px;
    padding-right: 40px;
}

/* make the story card bigger when hover */
.dynamic-zoom-in{ 
    transition: all .5s ease;
    
}
.story-card:hover{ 
    transform: scale(1.05);  
    box-shadow: 10px 14px 14px 4px rgba(111, 75, 49, 0.8);
}

.story1{
    background-image: url(/static/home-pic/ARK.jpeg);
}

.story2{
    background: url(/static/home-pic/EU-truck.jpg)
}
.story3{
    background: url(/static/home-pic/WoW.jpg);
}

.story4{
    background: url(/static/home-pic/Hearthstone.jpg)
}
.story5{
    background: url(/static/home-pic/overwatch.jpeg);
}

.story6{
    background: url(/static/home-pic/stardew-valley.png)
}
.story7{
    background: url(/static/home-pic/starve.jpeg)
}
.story8{
    background: url(/static/home-pic/the-binding-of-isaac.png)
}
.story9{
    background: url(/static/home-pic/the-forest.jpg)
}
.story10{
    background: url(/static/registration.jpg)
}

/* **************  scroll manue  *************** */
.scroll-card{
    display:inline-block;
    width: 33%;
    box-sizing: border-box;
    margin:10px;
    /* background: url(/static/registration.jpg); */
    height: 400px;
    background-size: 710px auto!important;
    background-position: 50% 0!important;
    background-repeat: no-repeat!important;
    box-shadow: 5px 8px 10px 1px rgba(111, 75, 49, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.scroll-container{
    overflow: auto;
    white-space: nowrap;  
}
.scroll-card:hover{
    transform : scale(1.05);
}
