{% extends 'wegame/base.html' %}
{% load staticfiles %}

{% block head_block %}
  <link rel = "stylesheet" href="/static/css/about-page.css">
{% endblock %}


{% block body_block %}
<br>
<br>
<br>
<div class="descriptive-text">
    <h2>About Our Team</h2>
    <p> Welcome, our team is comprised of dedicated Glasgow University students and we would be delighted if you reach out to us with some feedback regarding our website. Thank you very much!</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/team-pic/Edmund Kuras.jpg" alt="Edmund">
      <div class="container">
        <h2>Edmund Kuras</h2>
        <p class="title">MSc. Software Development</p>
        <p><a href="mailto:2419774k@student.gla.ac.uk" class="button">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/team-pic/Ellison Zhang.jpg" alt="Ellison">
      <div class="container">
        <h2>Ellison Zhang</h2>
        <p class="title">MSc. Information Technology</p>
        <p><a href="mailto:hukumasio@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/static/team-pic/Kevin Kengne.jpg" alt="Kevin">
      <div class="container">
        <h2>Kevin Kengne</h2>
        <p class="title">MSc. Software Development</p>
        <p><a href="mailto:kevin.kengne1@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <img src="/static/team-pic/Zexin Cao.jpg" alt="Zexin">
      <div class="container">
        <h2>Zexin Cao</h2>
        <p class="title">MSc. Computer Systems Engineering </p>
        <p><a href="mailto:caozexinniubi@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}