<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel = "stylesheet" href="/static/css/index.css">
    <!-- online icon source -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}We Game{% endblock %}</title>
    {% block meta %}{% endblock %}
    {%block head_block%}
  
   
    {%endblock%}

  </head>

  <body>
    <!-- ----------------------------------header (nav bar)---------------------------------- -->
      <div class="nav-bar-container">
        <nav class="nav-bar">
          <!--------- side bar --------->
          <!-- <a class="nav-bar-item" href="home.html"> -->
            <div class="sidenav" id="mySidenav">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class = "side-content" href="#">Categories</a>
                <a class = "Categories  " href="#">Indie</a>
                <a class = "Categories " href="#">Advanture</a>
                <a class = "Categories" href="#">RPG</a>
                <a class = "Categories " href="#">MMORPG</a>
                <a class = "Categories" href="#">Sports</a>
                <a class = "Categories " href="#">Strategy</a>
            </div>
            <div class="nav-bar-label nav-bar-item">
                <span onclick="openNav()">&#9776;</span>
            </div>
            
          <!-- </a> -->
          <!-- logo -->
          <div class="logo">
              <a class="nav-bar-item" href="home.html">
              </a>
          </div>

          <div class="nav-bar-items">
            <a class="nav-bar-item" href="home.html">
              <div class="nav-bar-label">WeGame</div>
            </a>
            <a class="nav-bar-item" href="/wegame/news">
              <div class="nav-bar-label">News</div>
            </a>
            <a class="nav-bar-item" href="home.html">
              <div class="nav-bar-label">Forum</div>
            </a>
            <a class="nav-bar-item" href="/wegame/about/">
              <div class="nav-bar-label">About</div>
            </a>
          </div>

          <div class="nav-bar-account">
              <a class="nav-bar-item" href="home.html">
                <div class="nav-bar-label">Support</div>
              </a>
              <div class= "dropdown nav-bar-label">
                  <div class="nav-bar-item drop-background">My account</div>
                  <div class="dropdown-content">
                    <a href="/accounts/login/">Sign In</a>
                    <a href="/accounts/signup/">Sign Up</a>
                  </div>
                </a>
              </div>
          </div>
        </nav>
      </div>

  <!--  ---------------------------------- page ---------------------------------- -->
   
    {%block body_block%}
      
    {%endblock%}
    {% block content %}
    {% endblock %}

  <!-- ----------------------------------footer---------------------------------- -->
  <div class="bottom">
      <nav class="bottom-bar">
        <div class="logo-bottom"></div>
        <div class="bottom-bar-items">
        <a class="bottom-bar-item" href="home.html">
          <div class="bottom-bar-label">SUPPORT</div>
        </a>
        <p class="bottom-bar-label">|</p>
        <a class="bottom-bar-item" href="/wegame/about/">
          <div class="bottom-bar-label">ABOUT</div>
        </a>
        <p class="bottom-bar-label">|</p>
        <a class="bottom-bar-item" href="home.html">
          <div class="bottom-bar-label">CONTACT US</div>
        </a>
        <p class="bottom-bar-label">|</p>
        <a class="bottom-bar-item" href="/wegame/news">
          <div class="bottom-bar-label">NEWS</div>
        </a>
        <p class="bottom-bar-label">|</p>
        <a class="bottom-bar-item" href="home.html">
            <div class="bottom-bar-label">FEEDBACK</div>
        </a>
      <div class="test">
        <p>@2019 WE ENTERTAINMENT, INC.ALL RIGHTS RESERVED.</p>
        <p>All trademarks referenced herein are the properties herein are the properties of their respective owners.</p>
      </div>
      
    </div>
</div>

  </body>
    <script src="/static/js/sideBar.js"></script>
    {%block script_block%}

    {%endblock%}

</html>