{% extends 'wegame/base.html' %}
{% load staticfiles %}

{%block head_block%}
    <title>WeGame</title>
    <link rel = "stylesheet" href="/static/css/index-page.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|ZCOOL+XiaoWei" rel="stylesheet">
{%endblock%}

{%block body_block%}
  <!--  ---------------------------------- page ---------------------------------- -->
    <!-- Container for the image gallery -->
    <div class="slide-show-container">
      <!-- Full-width images with number text -->
      <div class="mySlides fade">
          <img class="sliding_image" src="/static/game1.jpg">
          <div class = "content">
              <a  href="http://127.0.0.1:8000/wegame/games/1/">
                <span class = "advertisement1">THE FOREST</span>
                <br>
                <span class = "advertisement2"> Enter a living, breathing world</span> 
                <br>
                <span class = "advertisement3"> Build a small shelter or a large ocean side fortress.</span>
              </a>
              <br>  
          </div>
          
      </div>
      <div class="mySlides fade">
          <img class="sliding_image" src="/static/ARK.jpeg">
          <div class = "content">
              <a  href="http://127.0.0.1:8000/wegame/games/1/">
                <span class = "advertisement1">ARK: SURVIVAL INVOLVED</span>
                <br>
                <span class = "advertisement2"> Developed by Studio Wildcard</span> 
                &nbsp &nbsp
                <span class = "advertisement3"> 132 species of creatures </span>
              </a>
              <br>  
          </div>
      </div>
      <div class="mySlides fade">
          <img class="sliding_image" src="/static/game2.jpg">
          <div class = "content">
              <a  href="#">
                <span class = "advertisement1">Ubisoft - Assassin's Creed Origins</span>
                <br>
                <span class = "advertisement2"> A Country to Discover</span> &nbsp &nbsp
                <span class = "advertisement3"> A New Story Ever Time You Play</span>
              </a>
              <br>  
          </div>
      </div>
    
      <!--Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <!-- The dots/circles -->
      <div class="dot-container ">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
      </div> 
    </div>

    <!-- Container for the top stories section -->
    <div class = "top-stories-container">
      <!-- story title -->
      <div class ="top-stories-title">
        <h2>Top Stories</h2>
      </div>
      <!-- cards part -->
      <div class="story-cards">
        <div class = "story-card dynamic-zoom-in story1">
          <a href="home.html">
          <button class="button" style="width:50%"><span>Hover </span></button>
        </a>
        </div>
        <div class = "story-card dynamic-zoom-in story2">

        </div>
        <div class = "story-card dynamic-zoom-in story3">

        </div>
        <div class = "story-card dynamic-zoom-in story4">

        </div>
        <div class = "story-card dynamic-zoom-in story5">

        </div>
        <div class = "story-card dynamic-zoom-in story6">

        </div>
        <div class = "story-card dynamic-zoom-in story7">
  
        </div>
        <div class = "story-card dynamic-zoom-in story8">
  
        </div>
        <div class = "story-card dynamic-zoom-in story9">
  
        </div>
        <div class = "story-card dynamic-zoom-in story10">
  
        </div>


      </div>
    </div>

    <!-- news part -->

    <div class = "top-stories-container">
        <!-- title -->
        <div class ="top-stories-title">
          <h2>Latest News</h2>
        </div>
        <div class="scroll-container">
        {% for article in articles %}
        <a href="{{article.url}}" target="_blank">
          <div class="card">
            <img src="{{ article.urlToImage}}" alt="Avatar" style="width:100%" height="196.88">
            <div class="card-container">
              
              <p>{{ article.title }}</p> 
            </div>
          </div>
        </a>
        
        
        {% endfor %}
        </div>  
{%endblock%}
{%block script_block%}
  <script src="/static/js/homeSlideScript.js"></script>
  
{%endblock%}
