{% extends 'wegame/base.html' %}
{% load staticfiles %}

{%block head_block%}
    <title>Games</title>
    <link rel = "stylesheet" href="/static/css/games.css">
    <link rel = "stylesheet" href="/static/css/index-page.css">
{%endblock%}

<!-- two parts in total in this page: reviews and videos -->


{%block body_block%}
<div class = "games-page-container">

    <!------------------------------  videos ------------------------------->
    <div class="game-infor-section">
        <!-- the title of game -->
        <div class ="top-stories-title">
            <h2>{{ game.name }}</h2>
        </div>
        <!-- the video of game / on the left -->

        <div class = infor-part>
        <div class ="vedio-section">
          
            <!-- Full-width images with number text -->
                        {% for video in video_list %}
                        {% if video.game_name == game %}
                        <div class="mySlides">
                          <!-- <div class="numbertext">4 / 6</div> -->
                            <!-- <img src="/static/home-pic/overwatch.jpeg" style="width:100%"> -->
                            <iframe  src="{{ video.video_path }}">
                            </iframe>
                        </div>
                        {% endif%}
                        {% endfor %}
                        <div class="mySlides">
                          <!-- <div class="numbertext">1 / 6</div> -->
                            <img src="/static/home-pic/ARK.jpeg" style="width:100%">
                        </div>
                      
                        <div class="mySlides">
                          <!-- <div class="numbertext">2 / 6</div> -->
                            <img src="/static/home-pic/EU-truck.jpg" style="width:100%">
                        </div>
                      
                        <div class="mySlides">
                          <!-- <div class="numbertext">3 / 6</div> -->
                            <img src="/static/home-pic/Hearthstone.jpg" style="width:100%">
                        </div>
                        <div class="mySlides">
                          <!-- <div class="numbertext">5 / 6</div> -->
                            <img src="/static/home-pic/stardew-valley.png" style="width:100%">
                        </div>
                      
                        <div class="mySlides">
                          <!-- <div class="numbertext">6 / 6</div> -->
                            <img src="/static/home-pic/WoW.jpg" style="width:100%">
                        </div>
                      
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                      
                 
                        <!-- Thumbnail images -->
                        <div class="row">
                          {% for picture in picture_list %}
                            {% if picture.game_name == game%}
                              <div class="column">
                                <img class="demo cursor used_images" src="{{ picture.picture_path }}" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
           

        </div>

        <!-- the content of game / on the right -->
        <div class ="infor-section">  
            <img src="" id="game_image"style="width:100%">   
              <div class ="subtitle_column">Description: {{ game.game_content }}
              </div>
              <div class ="subtitle_column">Release Date: {{ game.year_released }}</div>
              <div class ="subtitle_column">Published by: {{ game.publisher_name }}</div>
            </div>
        </div>
      </div>
    </div>
    <!------------------------------  reviews ------------------------------->
    
    <div class="reviews-container">
        <div class ="top-stories-title">
          <h2>Reviews</h2>
        </div>
        {% for review in review_list %}
          {% if review.game_reviewed == game %}
        <div class="review-box">
          <!-- left side of the box -->
          <div class= "review-box-left">
            <div class ="avatar">
              <a href="#"></a>
                {% if review.user.photo %}
                <img src="/media/{{ review.user.photo }} ">
                {% else %}
                <img src="/static/we-logo.jpg">
                {% endif %}
                
              
            </div>
            <div class = "user-name">
              <a href="#">{{ review.user }}</a>
            </div>
          </div>
          <!-- right side of the box -->
          <div class="review-box-right">
            <div class = "content">
              <span>{{ review.comment_text }}</span>
            </div>
            <div class = "like-dislike" onclick="">
              <a href = "#"> 
                  <i class="fas fa-thumbs-up">  like</i>
              </a>
              <a class ="dislike" href = "#"> 
                  <i class="fas fa-thumbs-down">  dislike</i>
              </a>
              
            </div>
          </div>


        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>

{%endblock%}



{%block script_block%}
<script src="/static/js/slideInGames.js"></script>
<script>
  var elements = document.getElementsByClassName('used_images');
  imageUsed = elements[0]
  document.getElementById("game_image").src = imageUsed.src;
</script>
{%endblock%}







