{% extends 'base.html' %}
{% block body_block %}
<div class="styled-form">
    <h2>Sign up</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
</div>
<script>
    var passwordMessage = document.getElementsByTagName("UL")[0];
    var helpText = document.getElementsByClassName("helptext");
    l = helpText.length
    passwordMessage.style.display = 'none';
    for (i = 0; i < l; i++) {
        helpText[i].style.display = 'none';
    }
</script>
{% endblock%}